body{
	margin: 0;
	padding: 0px 150px 100px 150px;
	font-family: "Lato";
	background-color: whitesmoke;
	overflow: hidden;
}

.leader{
	display: inline-block;
	background-color: #5782B0;
	color: white;
	padding: 5px 10px;
	position: relative;
	z-index: 1;
}

.title{
	display: inline-block;
	margin-left: 10px;
}

.description{
	width: 100%;
	padding-top: 20px;
	margin: 0px 0px 10px 0px;
}

#cover{
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: -1;

	transition: 0.2s ease opacity;
}

#content{
	position: absolute;
	left: 150px;
	right: 150px;

	transition:
			0.2s ease top,
			0.2s ease bottom,
			0.2s ease left,
			0.2s ease right;
}
#content.fullscreen{
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

canvas{
	width: 100%;
	background: -webkit-linear-gradient(bottom, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(bottom, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(bottom, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* IE10+ */
	background: linear-gradient(to top, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C */
}

@media all and (max-width: 550px){
	body{
		padding: 0px 0px 50px 0px;
	}

	.leader{
		margin-left: 18px;
	}

	#content{
		left: 0px;
		right: 0px;
	}

	canvas{
		height: 450px;
	}

	.description{
		width: auto;
		padding: 20px;
	}
}